<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <groups>
        <run>
            <include name="Smoke" />
        </run>
    </groups>
    <test name="Sign In">
        <classes>
            <class name="te.application.api.test.B2C.positive.SignInTest" />
        </classes>
    </test>
    <test name="Home">
        <classes>
            <class name="te.application.api.test.B2C.positive.FilterCategoriesTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="te.application.listener.extentReportListener" />
        <listener class-name="te.application.Analyzer.AnnotationTransformer" />
    </listeners>
</suite>